/* https://gist.github.com/NodiraIbrogimova/30ad4fb79eeb147635d17d8291d9aa6b */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* My changes */

body {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 139.8%;

    background: linear-gradient(304.58deg, #F4ECE1 57.1%, #FCFBF7 145.5%);
    color: black;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #e0e0e0;
    z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    display: none;
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 32px;
    animation: color-change 1s infinite;
}

@keyframes color-change {
    0% {
        color: red;
    }

    50% {
        color: blue;
    }

    100% {
        color: red;
    }
}

.nav-links {
    list-style: none;
    font-weight: 500;
    font-size: 22px;
    padding: 20px;
    margin: 0;
}

.nav-links li {
    display: inline-block;
    margin: 0 20px;
}


.nav-links a {
    color: black;
    text-decoration: none;
}

.nav-links a:hover {
    color: #2F2F2F;
    transition: color 0.3s ease;
}

.search-btn {
    font-size: 20px;
    width: 314px;
    height: 60px;
    background: rgba(255, 249, 240, 0.1);
    box-shadow: 0px 12px 40px -16px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border: 0;
}

.search-btn:hover {
    background: rgba(255, 249, 240, 0.3);
    color: black;
    transition: color 1s ease;
}

.verticalLine {
    border-right: 1px solid #948C8C;
    padding-right: 70px;
}

.search-btn img {
    margin: 0 20px;
}

.alert {
    width: 15px;
    height: 15px;
    background: #EC2633;
    box-shadow: 0px 2px 23px 1px rgba(255, 51, 52, 0.72);
    font-size: 10px;
    border-radius: 360px;
    color: white;

    position: absolute;
    bottom: 66%;
    left: 70%;
}

.marketing {
    padding: 5%;
    align-items: center;
}

.flex-container {
    display: flex;
}

.flex-container>.container {
    flex: 1;
}

.flex-small-container {
    display: flex;
    align-items: flex-end;
    padding: 30px 5px;
}

.flex-small-container>.container {
    padding: 10px;
}

.very-big-text {
    font-weight: 700;
    font-size: 125px;
    line-height: 94.8%;
    letter-spacing: -0.035em;
    color: #FF7E00;
}

.big-text {
    font-weight: 700;
    font-size: 52px;
    font-weight: 900;
    line-height: 94.8%;
    color: #2F2F2F;
}

.samolet {
    position: absolute;
    width: 139.99px;
    height: 176.03px;
    bottom: 34%;
    left: 66%;
    transform: rotate(17.84deg);
}


.black-btn {
    margin: 10px 30px 10px 10px;
    background: #2F2F2F;
    box-shadow: 0px 20px 32px -8px rgba(0, 0, 0, 0.2);
    border-radius: 84px;
    border: 0;
    width: 188px;
    height: 70px;
    color: #F4ECE1;
    font-size: 20px;
    font-weight: 600;
    line-height: 94.8%;
}

.black-btn:hover {
    background: #FF7E00;
    color: black;
    transition: color 0.3s ease;
}

.play-btn:hover {
    filter: saturate(15);
    transition: filter 0.3s ease;
}


.image {
    width: 100%;
    height: auto;
}

.star-container {
    margin: 10px 20px;
}

.star-container .stars {
    color: #FEBB41;
    font-size: 28px;
}

.star-container .rating {
    font-size: 18px;
}

.star-container>* {
    display: block;
    margin: 10px 0;
}

.comment {
    color: #909090;
}


@media (max-width: 1000px) {
    .nav-links {
        font-size: 16px;
    }

    nav {
        flex-direction: column;
    }

    .flex-container {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    body {
        font-size: 16px;
    }

    .very-big-text {
        font-size: 70px;
    }

    .big-text {
        font-size: 36px;
    }

    .samolet {
        width: 100.0px;
        height: 125.0px;
        bottom: 30%;
        left: 52%;
    }

}